@import "colors/colors.css";

* {
    all: unset;
    font-family: "FiraCode Nerd Font Propo", monospace;
}

window#waybar {
    background-color: transparent;
    opacity: 0.85;
    transition-duration: 0.5s;
    color: @fg;
    border-radius: 0 0 1px 1px;
}

#workspaces {
    min-width: 100px;
    font-size: 0.4rem;
    padding: 2px 4px;
    margin: 11px 0;
    border-radius: 99px;
    background-color: transparent;
}

#workspaces button {
    background-color: @bg4;
    color: @bg3;
    padding: 0px 5px;
    border-radius: 99px;
    margin: 0 2px;
    min-width: 2px;
}

#workspaces button.active {
    background-color: @orange;
    min-width: 2px;
    font-weight: 100;
    transition: none;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

#clock {
    margin: 0 15px;
    font-weight: 700;
    font-size: 1.2rem;
    opacity: 0.8;
}

.modules-left {
    margin-left: 12px;

}

.modules-right {
    margin-right: 12px;
}

#cava {
    border-radius: 4px;
    margin: 0 12px;
    padding: 6px 12px;
    background-color: @bg4;
    font-size: 0.7rem;
    color: @orange;
    letter-spacing: 1px;
}

#memory,
#custom-splash,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#tray {
    border-radius: 4px;
    margin: 2px 3px;
    padding: 6px 12px;
    background-color: @bg4;
    color: @fg;
}

#tray {
    padding: 0px 15px 0px 0px;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
}

#custom-splash {
    padding: 6px 74px;
}


tooltip {
    border-radius: 8px;
    padding: 15px;
    background-color: #131822;
}

tooltip label {
    padding: 5px;
    background-color: #131822;
}